.container p {
  font-family: Bariol; }

.welcome p {
  text-align: center;
  color: white; }

.welcome {
  box-sizing: border-box;
  padding-top: 35px; }

.text-main {
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 9px; }

.text-asmart {
  font-size: 20px;
  font-weight: 400; }

.icons-text {
  box-sizing: border-box;
  padding-top: 35px;
  text-align: center;
  height: 30%; }

.smart_creative {
  font-size: 40px;
  color: white;
  font-weight: 400;
  letter-spacing: 6.5px; }

.this_is {
  font-size: 20px;
  color: #d94948; }

.icons-items {
  box-sizing: border-box;
  height: 70%;
  width: 100%;
  padding: 25px 0; }
  .icons-items .item {
    box-sizing: border-box;
    position: relative;
    float: left;
    width: 33.3%;
    height: 100%; }
    .icons-items .item .item-img {
      height: 50%; }
      .icons-items .item .item-img img {
        display: block;
        margin: 0 auto;
        height: 100px;
        width: 100px; }
    .icons-items .item .item-title, .icons-items .item .item-desc {
      width: 75%;
      margin: 0 auto; }
      .icons-items .item .item-title p, .icons-items .item .item-desc p {
        text-align: center; }
    .icons-items .item .item-title {
      font-size: 30px;
      color: white; }
    .icons-items .item .item-desc {
      font-size: 18px;
      color: #e74c3c; }

.profile-item {
  position: relative;
  float: left;
  width: 22.5%;
  height: 350px;
  background: #ffffff;
  border-radius: 15px;
  margin-right: 1.25%;
  margin-left: 1.25%;
  margin-top: 20px; }
  .profile-item .photo {
    box-sizing: border-box;
    padding-top: 10px;
    height: 50%; }
    .profile-item .photo img {
      display: block;
      margin: 0 auto;
      border: 10px solid #6cc372;
      border-radius: 1000px; }
  .profile-item .name {
    height: 15%; }
    .profile-item .name p {
      padding-top: 10px;
      box-sizing: border-box;
      color: #6cc372;
      font-size: 25px;
      font-weight: 400;
      text-align: center; }
  .profile-item .desc {
    height: 10%; }
    .profile-item .desc p {
      font-size: 20px;
      text-align: center;
      color: #e74c3c;
      padding-top: 10px; }
  .profile-item .follow {
    position: relative;
    height: 25%; }
    .profile-item .follow .button {
      position: relative;
      width: 90%;
      height: 40px;
      background: #6cc372;
      top: 20px;
      margin: 0 auto;
      border-radius: 10px; }
      .profile-item .follow .button img {
        display: block;
        position: absolute;
        top: 50%;
        height: 30px;
        margin-top: -15px;
        margin-left: 5px; }
      .profile-item .follow .button p {
        font-size: 30px;
        padding-top: 5px;
        color: white;
        text-align: center; }

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .welcome {
    padding: 25px 0; }
  .profile-item {
    width: 40%;
    margin: 5% 5%; } }

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .welcome {
    padding: 25px 0; }
  .profile-item {
    width: 80%;
    margin: 7% 10%; } }
