.footer .text, .footer .sm {
  position: relative; }

.footer .text {
  width: 70%;
  float: left;
  margin-top: 10px;
  padding-left: 25px; }
  .footer .text strong {
    color: #e74c3c; }
  .footer .text p {
    color: white; }

.footer .sm {
  float: right;
  margin-right: 15px; }
  .footer .sm a {
    display: block;
    float: right;
    margin-right: 5px;
    margin-top: 5px; }

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .footer .text, .footer .sm {
    position: static;
    float: none; }
  .footer .text {
    margin: 10px auto; }
  .footer .sm {
    width: 100%;
    height: 50px;
    text-align: center; }
    .footer .sm a {
      float: none;
      display: inline-block; } }
