.logo, .menu {
  float: left; }

.logo {
  position: relative;
  min-height: inherit;
  width: 25%; }
  .logo img {
    box-sizing: border-box;
    position: absolute;
    display: block;
    height: 65px;
    top: 50%;
    margin-top: -42.5px;
    padding-left: 15px; }

.menu {
  position: relative;
  float: right;
  padding-top: 40px;
  font-family: Arial-BoldMT; }
  .menu ul, .menu li {
    list-style: none;
    margin: 0;
    padding: 0; }
  .menu li {
    display: inline-block;
    color: white;
    margin: 0 15px;
    padding: 5px; }
  .menu li:first-child {
    background: #232324;
    border-radius: 5px; }
  .menu a {
    text-decoration: none;
    color: inherit; }

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .menu {
    padding: 0;
    margin: 10px auto; }
    .menu li {
      margin: 0 5px; }
    .menu ul {
      text-align: center; }
  .logo {
    min-height: 0;
    margin: 0 auto;
    width: 100%; }
    .logo img {
      position: relative;
      margin: 0 auto;
      top: 0;
      left: 0;
      padding: 0; }
  .logo, .menu {
    float: none; } }

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .logo {
    min-height: 0;
    margin: 0 auto;
    width: 100%; }
    .logo img {
      position: relative;
      margin: 0 auto;
      top: 0;
      left: 0;
      padding: 0; }
  .logo, .menu {
    float: none; }
  .menu {
    padding: 0;
    margin: 10px auto; }
    .menu li {
      display: block;
      width: 100%;
      margin: 5px 5px; }
    .menu li:first-child {
      background: none; }
      .menu li:first-child a {
        background: #232324;
        padding: 5px;
        border-radius: 5px; }
    .menu ul {
      text-align: center; } }
