@font-face {
  font-family: Bariol;
  src: url("../fonts/Bariol.ttf"); }

html, body, p {
  margin: 0;
  padding: 0; }

.common-wrapper {
  max-width: 1024px;
  min-width: 320px;
  margin: 0 auto;
  height: inherit;
  border: 2px solid blue; }

.header, .profiles {
  min-height: 125px;
  background: #f56262; }

.welcome {
  height: 150px;
  background: #eb4f4e; }

.icons {
  height: 350px;
  background: #232324; }

.profiles {
  height: 400px;
  background: #6cc372; }

.footer {
  height: 50px;
  background: #232324; }
