@import "media-queries";

.logo, .menu{
    float: left;
}

.logo{
    position: relative;
    min-height: inherit;
    width: 25%;


    img{
        box-sizing: border-box;
        position: absolute;
        display: block;
        height: 65px;
        top: 50%;
        margin-top: -42.5px;
        padding-left: 15px;
    }

}

.menu {
    position: relative;
    // width: 75%;
    float: right;
    padding-top: 40px;
    font-family: Arial-BoldMT;


    ul, li{
        list-style:none;
        margin: 0;
        padding: 0;
    }

    li{
        display: inline-block;
        color: white;
        margin: 0 15px;
        padding: 5px;
    }

    li:first-child{
        background: #232324;
        border-radius: 5px
    }

    a{
        text-decoration: none;
        color:inherit;
    }
}


@include screen(480px, 768px) {

    .menu{
        padding: 0;
        // width: 80%;
        margin: 10px auto;

        li{
            margin: 0 5px;
        }
        ul{
            text-align: center;
        }
    }    

    .logo{
        min-height: 0;
        margin: 0 auto;
        width: 100%;

        img{
            position:relative;
            margin: 0 auto;
            top: 0;
            left:0;
            padding: 0;
        }
    }

    .logo,.menu{
        float: none;
    }

}


@include screen(320px,480px) {
    .logo{
        min-height: 0;
        margin: 0 auto;
        width: 100%;

        img{
            position:relative;
            margin: 0 auto;
            top: 0;
            left:0;
            padding: 0;
        }
    }

    .logo,.menu{
        float: none;
    }

    .menu{
        padding: 0;
        margin: 10px auto;

        li{
            display: block;
            width: 100%;
            margin: 5px 5px;
        }

        li:first-child{
            background: none;

            a{
                background: #232324;
                padding: 5px;
                border-radius: 5px;
            }
        }

        ul{
            text-align: center;
        }
    }    
}




