.clearfix::after {
  content: "";
  display: table;
  clear: both; }

body {
  margin: 0;
  padding: 0; }

.wrapper--center {
  max-width: 1024px;
  min-width: 320px;
  min-height: inherit;
  margin: 0 auto; }

@font-face {
  font-family: pacifico;
  src: url("../fonts/Pacifico.ttf") format("truetype"), url("../fonts/Pacifico.otf") format("opentype"), url("../fonts/Pacifico.woff2") format("woff2"), url("../fonts/Pacifico.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: hevletica_medium;
  src: url("../fonts/HelveticaNeue-Medium.ttf") format("truetype"), url("../fonts/HelveticaNeue-Medium.otf") format("opentype"), url("../fonts/HelveticaNeue-Medium.woff2") format("woff2"), url("../fonts/HelveticaNeue-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: hevletica_italic;
  src: url("../fonts/HelveticaNeue-Italic.ttf") format("truetype"), url("../fonts/HelveticaNeue-Italic.otf") format("opentype"), url("../fonts/HelveticaNeue-Italic.woff2") format("woff2"), url("../fonts/HelveticaNeue-Italic.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: hevletica_regular;
  src: url("../fonts/HelveticaRegular.ttf") format("truetype"), url("../fonts/HelveticaRegular.otf") format("opentype"), url("../fonts/HelveticaRegular.woff2") format("woff2"), url("../fonts/HelveticaRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: raleway_semibold;
  src: url("../fonts/Raleway-SemiBold.ttf") format("truetype"), url("../fonts/Raleway-SemiBold.otf") format("opentype"), url("../fonts/Raleway-SemiBold.woff2") format("woff2"), url("../fonts/Raleway-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.header {
  min-height: 610px;
  height: 100%;
  position: relative;
  width: 100%;
  overflow: hidden; }
  .header .wrapper--center {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
    @media only screen and (min-width: 1024px) {
      .header .wrapper--center {
        top: 10%; } }
  .header img {
    display: block;
    min-width: 100%;
    min-height: inherit;
    margin: 0 auto; }
  @media only screen and (min-width: 200px) and (max-width: 1600px) {
    .header {
      overflow: unset;
      min-height: auto; }
      .header img {
        min-width: 100%;
        max-width: 100%; } }

.green_line {
  height: 10px;
  width: 100%;
  background: #2ecc71;
  position: absolute;
  top: 0; }
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    .green_line {
      height: 5px; } }

.info {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  height: 100%; }
  .info div {
    padding: 1% 2%; }
  @media only screen and (min-width: 480px) and (max-width: 540px) {
    .info__logo {
      margin-top: 10px; } }
  .info__logo p {
    margin: 0;
    padding: 0;
    font-family: pacifico, sans-serif;
    font-size: 3em; }
    @media only screen and (min-width: 480px) and (max-width: 540px) {
      .info__logo p {
        font-size: 2em; } }
    @media only screen and (min-width: 320px) and (max-width: 480px) {
      .info__logo p {
        font-size: 1.5em; } }
    .info__logo p span {
      color: #2ecc71; }
  .info__slogan {
    width: 40%; }
    .info__slogan p {
      font-family: hevletica_medium, sans-serif;
      font-size: 1.1em; }
      @media only screen and (min-width: 480px) and (max-width: 540px) {
        .info__slogan p {
          font-size: 0.9em; } }
      @media only screen and (min-width: 320px) and (max-width: 480px) {
        .info__slogan p {
          font-size: 0.7em; } }
  .info__icons {
    width: 30%; }
    @media only screen and (max-width: 767px) {
      .info__icons {
        width: auto;
        height: 100%;
        position: absolute;
        display: block;
        right: 0;
        top: 0; } }
    .info__icons ul {
      list-style: none;
      margin: 0;
      height: 100%;
      padding: 0; }
      @media only screen and (max-width: 767px) {
        .info__icons ul {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center; } }
      .info__icons ul li {
        width: 50px;
        display: inline-block;
        height: 50px;
        background: #000;
        opacity: 0.5;
        -webkit-border-radius: 50px;
                border-radius: 50px;
        margin-right: 5%;
        -webkit-transition: opacity .1s ease-in;
        -o-transition: opacity .1s ease-in;
        transition: opacity .1s ease-in; }
        .info__icons ul li:hover {
          background: #2ecc71;
          opacity: 1; }
        .info__icons ul li a {
          display: block;
          width: 100%;
          height: 100%;
          margin: 0 auto;
          -webkit-border-radius: 50px;
                  border-radius: 50px;
          background-repeat: no-repeat;
          background-position: center; }
        @media only screen and (max-width: 767px) {
          .info__icons ul li {
            border: 0.5px solid #2ecc71;
            background: none;
            opacity: 1;
            display: block; } }
        @media only screen and (min-width: 480px) and (max-width: 767px) {
          .info__icons ul li {
            width: 40px;
            height: 40px;
            margin: 0 10px 10px 0; } }
        @media only screen and (min-width: 320px) and (max-width: 480px) {
          .info__icons ul li {
            width: 15px;
            height: 15px;
            padding: 5px;
            margin-bottom: 5px; }
            .info__icons ul li a {
              -webkit-background-size: 15px 15px;
                      background-size: 15px 15px; } }

.apple {
  background: url("../img/icon1.svg"); }

.android {
  background: url("../img/icon2.svg"); }

.windows {
  background: url("../img/icon3.svg"); }

.first_selection {
  min-height: 350px; }

.items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 20px; }
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    .items {
      display: block; } }

.item {
  min-height: 300px;
  text-align: center; }
  .item div {
    margin: 20px auto; }
  .item__img {
    width: 100px;
    height: 100px;
    background: #2ecc71;
    background-position: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-border-radius: 100px;
            border-radius: 100px; }
  .item__title {
    font-family: raleway_semibold, sans-serif;
    font-size: 1.1em; }
  .item__desc {
    font-family: hevletica_regular, sans-serif;
    padding: 0 10px;
    color: #848484; }
    @media only screen and (min-width: 320px) and (max-width: 480px) {
      .item__desc {
        padding: 0 40px; } }
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    .item {
      min-height: 200px;
      margin-bottom: 45px; }
      .item div {
        margin: 0 auto; } }

.second_section {
  background: #e3e3e3;
  min-height: 440px; }

.notify {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-top: 35px; }
  @media only screen and (min-width: 1023px) {
    .notify > div {
      -webkit-flex-basis: 50%;
          -ms-flex-preferred-size: 50%;
              flex-basis: 50%; } }

.notify-info {
  margin: 0 auto; }
  .notify-info__title {
    font-family: raleway_semibold, sans-serif;
    font-size: 22px;
    color: #222222;
    padding-left: 20px; }
  .notify-info__text {
    font-family: hevletica_regular, sans-serif;
    color: #848484;
    font-size: 16px;
    padding: 0px 20px 20px 20px;
    line-height: 26px; }
  .notify-info__btn {
    padding-left: 20px;
    margin: 0 auto; }
    .notify-info__btn .input, .notify-info__btn .button {
      float: left;
      outline: none; }
    .notify-info__btn .button {
      font-family: raleway_semibold, sans-serif;
      font-size: 22px;
      font-weight: 700;
      color: white;
      background: #2ecc71;
      padding: 10px 25px;
      height: 56px;
      border: none;
      -webkit-border-top-right-radius: 15px;
              border-top-right-radius: 15px;
      -webkit-border-bottom-right-radius: 15px;
              border-bottom-right-radius: 15px;
      margin: 0; }
      @media only screen and (max-width: 768px) {
        .notify-info__btn .button {
          width: 30%; } }
    .notify-info__btn .input {
      font-family: hevletica_regular, sans-serif;
      font-size: 18px;
      color: #848484;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      -webkit-border-top-left-radius: 15px;
              border-top-left-radius: 15px;
      -webkit-border-bottom-left-radius: 15px;
              border-bottom-left-radius: 15px;
      height: 56px;
      border: 0.5px solid #e3e3e3;
      margin: 0;
      padding: 0;
      width: 300px;
      padding-left: 30px; }
      @media only screen and (max-width: 768px) {
        .notify-info__btn .input {
          width: 70%; } }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .notify-info {
      -webkit-flex-basis: 60%;
          -ms-flex-preferred-size: 60%;
              flex-basis: 60%;
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1;
      padding: 15px 0; } }
  @media only screen and (max-width: 768px) {
    .notify-info {
      -webkit-flex-basis: 80%;
          -ms-flex-preferred-size: 80%;
              flex-basis: 80%;
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1;
      padding: 15px 0;
      /* text-align: center */ }
      .notify-info .input, .notify-info .button {
        /* display: inline-block */ }
      .notify-info__title {
        text-align: center; } }
  @media only screen and (min-width: 320px) and (max-width: 420px) {
    .notify-info .button {
      padding: 0; } }

.notify-video {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .notify-video iframe {
    display: block;
    -webkit-border-radius: 20px;
            border-radius: 20px; }
  @media only screen and (min-width: 320px) and (max-width: 510px) {
    .notify-video iframe {
      width: 320px;
      height: 240px; } }
  @media only screen and (max-width: 1023px) {
    .notify-video {
      -webkit-flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
              flex-basis: 100%; } }

.third_section {
  min-height: 450px;
  /* background: #000 */ }

.quote {
  padding-top: 20px;
  text-align: center; }
  .quote__text {
    font-family: hevletica_italic , sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #848484;
    padding: 5px 15px; }
  .quote__author {
    font-family: raleway_semibold, sans-serif;
    font-weight: 700;
    line-height: 20px; }

.photos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px; }
  .photos img {
    z-index: 1; }
  .photos div {
    width: 51px;
    height: 51px; }

.sm {
  margin-top: 50px;
  text-align: center; }
  .sm__title {
    font-family: raleway_semibold, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #000000; }
  .sm__text {
    font-family: hevletica_regular, sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #848484; }
  .sm__icons ul {
    list-style: none; }
    .sm__icons ul li, .sm__icons ul a {
      -webkit-border-radius: 50px;
              border-radius: 50px;
      width: 34px;
      height: 34px; }
    .sm__icons ul li {
      display: inline-block;
      background: #c5c5c5;
      margin: 0 5px; }
      .sm__icons ul li:hover {
        background: #2ecc71; }
      .sm__icons ul li a {
        display: inline-block; }

.vk {
  background: url("../img/sm1.png") no-repeat center; }

.fb {
  background: url("../img/sm2.png") no-repeat center; }

.dm {
  background: url("../img/sm3.png") no-repeat center; }

.gl {
  background: url("../img/sm4.png") no-repeat center; }

.ln {
  background: url("../img/sm5.png") no-repeat center; }

.yt {
  background: url("../img/sm6.png") no-repeat center; }

.footer {
  min-height: 130px;
  background: #e3e3e3; }
  .footer ul {
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    min-height: inherit;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .footer ul li {
      display: inline-block;
      margin: 0 15px; }
      .footer ul li a {
        font-family: hevletica_regular, sans-serif;
        line-height: 26px;
        font-size: 16px;
        color: #848484;
        text-decoration: none; }
      @media only screen and (min-width: 320px) and (max-width: 600px) {
        .footer ul li {
          /* display: block */
          -webkit-flex-basis: 100%;
              -ms-flex-preferred-size: 100%;
                  flex-basis: 100%;
          text-align: center;
          padding: 10px; } }
