.footer
  min-height: 130px
  background: #e3e3e3
  ul
    list-style: none
    display: flex
    height: 100%
    min-height: inherit
    justify-content: center
    align-items: center
    flex-wrap: wrap
    li
      display: inline-block
      margin: 0 15px 
      a
        +hevletica_regular
        line-height: 26px
        font-size: 16px
        color: #848484
        text-decoration: none
      +screen(320px, 600px)
        /* display: block */
        flex-basis: 100%
        text-align: center
        padding: 10px
