
.header
  min-height: 610px
  height: 100%
  position: relative
  width: 100%
  overflow: hidden
  .wrapper--center
    position: absolute
    top: 0
    left: 50%
    width: 100%
    height: 100%
    transform: translateX(-50%)
    +min-screen(1024px)
      top: 10%
  img
    display: block
    min-width: 100%
    min-height: inherit
    margin: 0 auto
  +screen(200px, 1600px)
    overflow: unset
    min-height: auto
    img
      min-width: 100%
      max-width: 100%

.green_line
  height: 10px
  width: 100%
  background: #2ecc71
  position: absolute
  top: 0
  +screen(320px, 480px)
    height: 5px
  
.info
  box-sizing: border-box
  color: white
  height: 100%
  div
    padding: 1% 2%
  &__logo
    +screen(480px, 540px)
      margin-top: 10px
    p
      margin: 0
      padding: 0
      +pacifico
      font-size: 3em
      +screen(480px, 540px)
        font-size: 2em
      +screen(320px, 480px)
        font-size: 1.5em
      span
        color: #2ecc71
  &__slogan
    width: 40%
    p
      +hevletica_medium
      font-size: 1.1em
      +screen(480px, 540px)
        font-size: 0.9em
      +screen(320px, 480px)
        font-size: 0.7em
  &__icons
    width: 30%
    +max-screen(767px)
      width: auto
      height: 100%
      position: absolute
      display: block
      right: 0
      top: 0
    ul
      list-style: none
      margin: 0
      height: 100%
      padding: 0
      +max-screen(767px)
         display: flex
         flex-direction: column
         justify-content: center
      li
        width: 50px
        display: inline-block
        height: 50px
        background: #000 
        opacity: 0.5
        border-radius: 50px
        margin-right: 5%
        transition: opacity .1s ease-in
        &:hover
          background: #2ecc71
          opacity: 1
        a
          display: block
          width: 100%
          height: 100%
          margin: 0 auto
          border-radius: 50px
          background-repeat: no-repeat
          background-position: center
        +max-screen(767px)
          border: 0.5px solid #2ecc71
          background: none 
          opacity: 1
          display: block
        +screen(480px, 767px)
          width: 40px
          height: 40px
          margin: 0 10px 10px 0
        +screen(320px, 480px)
          width: 15px
          height: 15px
          padding: 5px
          margin-bottom: 5px
          a 
            background-size: 15px 15px

.apple
  background: url("../img/icon1.svg") 
.android
  background: url("../img/icon2.svg")
.windows
  background: url("../img/icon3.svg")

    
