.second_section
  background: #e3e3e3
  min-height: 440px


.notify
  display: flex
  flex-wrap: wrap
  padding-top: 35px
  +min-screen(1023px)
    > div
      flex-basis: 50%

.notify-info
  // flex-basis: 60%
  margin: 0 auto
  &__title
    +raleway_semibold
    font-size: 22px
    color: #222222
    padding-left: 20px
  &__text
    +hevletica_regular
    color: #848484
    font-size: 16px
    padding: 0px 20px 20px 20px
    line-height: 26px
  &__btn
    padding-left: 20px
    margin: 0 auto
    .input, .button
      float: left
      outline: none
    .button
      +raleway_semibold
      font-size: 22px
      font-weight: 700
      color: white
      background: #2ecc71
      padding: 10px 25px 
      height: 56px
      border: none
      border-top-right-radius: 15px
      border-bottom-right-radius: 15px
      margin: 0
      +max-screen(768px)
        width: 30%
        
    .input
      +hevletica_regular
      font-size: 18px
      color: #848484
      box-sizing: border-box
      border-top-left-radius: 15px
      border-bottom-left-radius: 15px
      height: 56px
      border: 0.5px solid #e3e3e3
      margin: 0
      padding: 0
      width: 300px
      padding-left: 30px
      +max-screen(768px)
        width: 70%
  +screen(768px, 1023px)
    flex-basis: 60%
    order: 1
    padding: 15px 0
  +max-screen(768px)
    flex-basis: 80%
    order: 1
    padding: 15px 0
    /* text-align: center */
    .input, .button
      /* display: inline-block */
    &__title
      text-align: center
  +screen(320px,420px)
    .button
      padding: 0

.notify-video
  display: flex
  justify-content: center
  align-items: center
  
  iframe
    display: block
    border-radius: 20px
  +screen(320px,510px)
    iframe
      width: 320px
      height: 240px
  +max-screen(1023px)
    flex-basis: 100%
    
