.articles{
    width: 100%;
    height: auto;
    text-align:justify;
}

.articles-item{
    width: 30%;
    height: 80%;
    position: relative;
    display: inline-block;
}

.articles-item:last-child{
    margin-right: 0;
}

.article-image img {
    max-width: 100%;
}

.article-desc{
    margin-top: 4%;
    color:#949494;
}

.article-readmore {
    margin-top: 5%;
    width: 100%;
    height: auto;
}

.article-readmore a{
    display: block;
    padding: 0;
    margin: 0;
    text-decoration: none;
    text-align:center;
    width: 100%;
    min-width: 10px;
    max-width: 100px;
    height: 100%;
    color: white;
    box-sizing: border-box;
    padding: 4px;
    font-size: 0.8em;
    background: url("../images/bg-body2.jpg") 0 0 repeat;
}

.clear{
    width: 100%;
    display: inline-block;
}

.article-image img {
    max-width: 100%;
}

@media screen and (min-width: 480px) and (max-width:768px){
    .article-desc{
        font-size: 0.9em;
    }
} 

@media screen and (min-width: 300px) and (max-width:480px){
    .articles-item{
        position: relative;
        display: block;
        width: 100%;
        padding-bottom: 5%;
        border-bottom: 5px dashed #E9EAEA;
    }

    .articles-item:nth-child(3) {
        border: none;
    }

    .article-image img{
        display: block;
        margin: 0 auto;
    }

}
