header{
    width:100%;
    height: 105px;
    margin: 0 auto;
}

.logo {
    position: relative;
    width: 50%;
    height: inherit;
    float: left;
}

.search_bar{
    position: relative;
    width: 50%;
    height: inherit;
    float: left;
}


.search_bar_wrapper input{
    margin: 0;
    padding: 0;
    border:0;
}
.search_bar_wrapper{
    position: absolute;
    width: 250px;
    height: 30px;
    top: 50%;   
    right: 1%;
    margin-top: -15px;
    background: #000;
}

.search_input {
    position: relative;
    float: left;
    width: 70%;
    height: 100%;
}

.search_input  input {
    width: 100%;
    height: 100%;
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
}

.search_button{
    position: relative;
    float: left;
    width: 30%;
    height: 100%;
}

.search_button  input {
    width: 100%;
    height: 100%;
    background: #1F2025;
    color: white;
    font-size: 0.8em;
}

@media screen and (max-width: 768px){
    .logo, .search_bar, .search_bar_wrapper{
        float:  none;
        width: auto;
        position: static;
        margin: 0 auto;
        width: auto;
        height: auto;
    } 

    header{
        height: 150px;
    }

    .logo{
        height: 50%;
    }

    .logo img {
        display: block;
        width: 100px;
        height: 100%;
        min-width:300px;
        max-height:65px;
    }

    .search_bar{
        position: relative;
        height: 45%;
    }

    .search_bar_wrapper{
        margin-top: 1%;
        width: 70%;
        height: 40px;
    }

}
