nav{
    width: 100%;
    height: 52px;
    margin: 0 auto;
}
nav ul, nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a{
    display: block;
    text-decoration:none;
    width: 100%;
    height: 100%;
    line-height:49.4px;
    color:white;
    font-size:0.7em;
}

.desktop_menu{
    width: 100%;
    background:#ECEAE7;
    height:100%;  
}

.desktop_menu >ul{
    display:  block;
    position: relative;
    width: 100%;
    height:95%;  
    background:#303038;
}

.desktop_menu > ul> li:first-child{
    margin-left: 0;
}

.desktop_menu > ul> li{
    display: block;
    position: relative;
    float: left;
    width: 14.2%;
    height: 100%;
    text-align: center;
    background: #1F2025;
    margin-left: 0.1%;
}

.desktop_menu > ul> li.active{
    background:#E5E4E2;
}
.desktop_menu > ul> li.active>a{
    color:black;
}
.desktop_menu > ul> li:hover, .submenu>li:hover{
    background:#E5E4E2;
    transition: background 0.3s ease;
}

.desktop_menu > ul> li:hover > a,.submenu>li:hover>a{
    color:black;
}

.submenu{
    margin-top: 2%;
    position: absolute;
    width: 130%;
    background:#1F2025;
    padding: 2%;
    z-index:10;
    top: 100%;
    opacity:0;
    visibility:hidden;
}

.desktop_menu > ul > li:hover > .submenu {
    opacity:1;
    visibility:visible;
    transition: opacity 0.5s,visibility 0.3s ease-in-out;
}


@media screen  and (max-width:768px){

    .desktop_menu > ul> li.active{
        background: #1F2025;
    }
    .desktop_menu > ul> li.active>a{
        color:white;
    }
}

@media screen and (min-width: 480px) and (max-width:768px){

    .desktop_menu > ul > li >a:active> .submenu {
        opacity:1;
        visibility:visible;
        transition: opacity 0.5s,visibility 0.3s ease-in-out;
    }
    .desktop_menu{

        font-size:0.7em;
    }
}
@media screen and (min-width: 300px) and (max-width:400px){
    nav{
        height: 380px;
    }
}
@media screen and (min-width: 401px) and (max-width:481px){
    nav{
        height: 425px;
    }
}

@media screen and (min-width: 300px) and (max-width:481px){
    .desktop_menu{
        background: none;
    }
    .desktop_menu >ul{
        background: none;
    }
    nav a {
        line-height: unset;
        padding: 4%;
    }
    .submenu{
        margin: 0;
        padding: 0;
        position: relative;
        display: block;
        width: 60%;
        opacity:1;
        visibility:visible;
        top: 0;
        margin: 0 auto;
        text-align:left;
        left: 2%;
    }
    .desktop_menu > ul>li{
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    .desktop_menu > ul>li a{
        font-size: 1.0em;
    }
    .desktop_menu{
        width: 75%;
        margin: 0 auto;
    } 
}
