html, body, ul, li,p,h1 {
    margin: 0;
    padding: 0;
}

body{
    background: #e2e2e2 url("../images/bg-body.jpg") 50% 0 repeat;
}
.container{
    box-sizing: border-box;
    width: 100%;
    min-width: 320px;
    max-width: 960px;
    height:auto;
    margin: 0 auto;
    padding: 10px 15px ;
}

.padding_line1 { 
    width: 100%;
    height: 5px;
    background: #E9EAEA;
    margin: 2% 0 5% 0;
}

.padding_line2 { 
    width: 100%;
    height: 5px;
    background: #E9EAEA;
    margin: 2% 0 5% 0;
}

